{% extends "master.html" %}
{% block title %}Results{% endblock %}



{% block content %}
    <h1 class="text-center">Result</h1>

    <!-- <table border = 1>
       {% for key, value in df.items() %}
          <tr>
             <th> {{ key }} </th>
             <td> {{ value }} </td>
          </tr>
       {% endfor %}
    </table>
     -->
        </div>
    </div>

    {% for id in ids %}
        <div id="{{id}}"></div>
    {% endfor %}

<script type="text/javascript">
    const graphs = {{graphJSON | safe}};
    const ids = {{ids | safe}};
    for(let i in graphs) {
        Plotly.plot(ids[i], graphs[i].data, graphs[i].layout);
    }
</script>
{% endblock %}
